#timetable{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
}
#timetable form{
    display: grid;
    grid-template-columns: 80% 20%;
    margin-bottom: 10px;
}
#timetable .day_title {
    font-weight: bold;
}
#timetable button{
    background: #32b643;
    border-color: #ffffff00;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
}
#timetable table{
    width: 100%;
    margin: 0 0 10px 0;
}
#timetable table,#timetable td,#timetable th{
    border: 1px solid #ddd;
    border-collapse: collapse;
}
#timetable .lesson td:first-child{
    width: 20%;
}
#timetable td{
    padding: 8px;
    text-align:left;
}
#timetable a{
    text-decoration: none;
}
